.AvailableAttractions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.Header {
  font-family: "Major Mono Display", monospace;
  font-size: 1.7rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.09), -5px 0px rgba(0, 0, 0, 0.049);
  color: white;
  text-align: center;
  padding: 0 1%;

  & > * {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .AvailableAttractions {
    max-width: 45%;
  }
}
