.Filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 25px;
  background-image: url(https://images.unsplash.com/photo-1495442358998-961b69f45703?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  height: 500px;
  border-radius: 5px;
}

.Header {
  display: flex;
  justify-content: center;

  font-family: "Libre Barcode 39 Text", cursive;
  font-size: 7rem;
  color: black;
  text-shadow: 3px 3px #00000022, -5px 0px #00000012;
}

.ItineraryFilters {
  margin-top: 100px;
  padding: 10px;
  background-color: #ffffffa4;
  backdrop-filter: blur(5px);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  min-width: 300px;
  box-shadow: #00000016 2px 2px 2px;

  & div {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #30343b;
  }
}
.Time,
.Price {
  display: flex;
  align-items: center;
}
.Price {
  button {
    font-family: "Raleway", sans-serif;
    border-radius: 5px;
    padding: 7px 10px;
    text-align: center;
    background-color: white;
    outline: none;
    border: 0;
    margin: 0 2px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background-color: #6b778c;
    }
  }

  .ActivePrice {
    background-color: #6b778c;
  }
}

.Label {
  margin-right: 10px;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
