.AttractionCard {
  border: 4px solid #f8f8f8cb;
  border-radius: 10px;
  width: 80%;
  margin: 10px 0;
  padding: 20px;

  background-color: #ffffffd3;
  backdrop-filter: blur(5px);
  box-shadow: #000000a5 1px 0 5px;
}

.Header {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}

.Button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: #30343b;
  border: none;
  box-shadow: #00000049 2px 2px 2px;

  &:hover {
    background-color: #6b778c;
  }

  // &:focus {
  //   outline: none;
  // }
}

.Label {
  display: flex;
  padding: 0 0 15px 0;

  & span {
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 7px;
  }
}

.PriceRange {
  background-color: #ffffffe0;
  font-weight: 700;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: #00000016 2px 2px 2px;

  &:hover {
    background-color: #6b778c;
  }
}

@media only screen and (min-width: 768px) {
  .AttractionCard {
    max-width: 500px;
  }
}
