@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

.app {
  background-color: rgba(173, 216, 230, 0.59);
  font-family: 'Raleway', sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
  padding: 25px;
  background-image: url(https://images.unsplash.com/photo-1495442358998-961b69f45703?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  height: 500px;
}
.navbar-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.09), -5px 0px rgba(0, 0, 0, 0.049);
}
.filters {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.433);
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.filters > div {
  padding-right: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 700;
 color: white;
 text-shadow: 3px 3px rgba(0, 0, 0, 0.09), -5px 0px rgba(0, 0, 0, 0.049);
 padding-top:5px;
}
.card {
  border: 4px solidrgba(255, 255, 255, 0.481);
  border-radius: 10px;
  width: 500px;
  margin: 10px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.481);
}
.label {
  display:flex;
  padding: 0px 0 15px 0;
}
.label > div {
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 7px;
}
.card-heading {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}
.button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: lightblue;
  border: none;
}
.button:hover {
  background-color: pink;
}
button:focus {
  outline: none;
}
.content {
  display:flex;
  justify-content: center;
}
.content > div {
  padding: 10px;
}
.content-heading {
  font-family: 'Raleway', sans-serif;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.09), -5px 0px rgba(0, 0, 0, 0.049);
  color: white;
  font-size: 2rem;
}
.content-heading > * {
  margin-right: 20px;
}
.content-item {
  min-width: 550px;
}
.price {
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  padding: 7px 10px;
  text-align: center;
  background-color: white;
  outline: none;
  border: 0;
  margin: 0 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.price:hover {
  background-color: pink;
}
.pink {
  background-color: pink;
}
.bold {
  font-weight: 700;
}
.price-range {
  background-color: rgba(255, 255, 255, 0.878);
}
select {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  border: 0;
}
option {
  padding: 5px;
}